<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>EQC-SYS</display-name>
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/loginadmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddLecturerServlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.AddLecturerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddLecturerServlet</servlet-name>
		<url-pattern>/addlecturer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateLecturerServlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.UpdateLecturerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateLecturerServlet</servlet-name>
		<url-pattern>/updatelecturer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteLecturerServlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.DeleteLecturerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteLecturerServlet</servlet-name>
		<url-pattern>/deletelecturer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LecturerLoginServlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.LecturerLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LecturerLoginServlet</servlet-name>
		<url-pattern>/loginlecturer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateAccountServlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.UpdateAccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateAccountServlet</servlet-name>
		<url-pattern>/updateaccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateQuestionManualServlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.CreateQuestionManualServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateQuestionManualServlet</servlet-name>
		<url-pattern>/createquestionmanual</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateQuestionAutoServlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.CreateQuestionAutoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateQuestionAutoServlet</servlet-name>
		<url-pattern>/createquestionauto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddAutoQuestionServlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.AddAutoQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAutoQuestionServlet</servlet-name>
		<url-pattern>/addautoquestion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateQuestionServlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.UpdateQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateQuestionServlet</servlet-name>
		<url-pattern>/updatequestion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteQuestionServlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.DeleteQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteQuestionServlet</servlet-name>
		<url-pattern>/deletequestion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteAutoQuestionServlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.DeleteAutoQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAutoQuestionServlet</servlet-name>
		<url-pattern>/deleteautoquestion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteAllQuestionServlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.DeleteAllQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAllQuestionServlet</servlet-name>
		<url-pattern>/deleteallquestion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TSTValidateServlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.TSTValidateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TSTValidateServlet</servlet-name>
		<url-pattern>/tstvalidate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GenerateExamPaperServlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.GenerateExamPaperServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GenerateExamPaperServlet</servlet-name>
		<url-pattern>/generate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Downloadservlet</servlet-name>
		<servlet-class>com.EQCSYS.app.servlet.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Downloadservlet</servlet-name>
		<url-pattern>/DownloadServlet</url-pattern>
	</servlet-mapping>
	<!-- SMTP settings -->
	<context-param>
		<param-name>host</param-name>
		<param-value>smtp.gmail.com</param-value>
	</context-param>

	<context-param>
		<param-name>port</param-name>
		<param-value>587</param-value>
	</context-param>

	<context-param>
		<param-name>user</param-name>
		<param-value>YOUR_EMAIL</param-value>
	</context-param>

	<context-param>
		<param-name>pass</param-name>
		<param-value>YOUR_PASSWORD</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>